hivemq-edge/src/main/resources/config.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!--

    Copyright 2019-present HiveMQ GmbH

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!--- root -->
    <xs:element name="hivemq" type="hiveMQConfigEntity"/>

    <xs:complexType name="hiveMQConfigEntity">
        <xs:all>
            <xs:element name="mqtt-listeners" type="mqttListenersEntity" minOccurs="0"/>
            <xs:element name="mqtt-sn-listeners" type="mqttsnListenersEntity" minOccurs="0"/>
            <xs:element name="mqtt" type="mqttConfigEntity" minOccurs="0"/>
            <xs:element name="mqtt-sn" type="mqttsnConfigEntity" minOccurs="0"/>
            <xs:element name="restrictions" type="restrictionsEntity" minOccurs="0"/>
            <xs:element name="security" type="securityConfigEntity" minOccurs="0"/>
            <xs:element name="mqtt-bridges" type="bridgesEntity" minOccurs="0"/>
            <xs:element name="admin-api" type="adminApiEntity" minOccurs="0"/>
            <xs:element name="persistence" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="mode" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: in-memory</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="file-native"/>
                                    <xs:enumeration value="file"/>
                                    <xs:enumeration value="in-memory"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="protocol-adapters" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:any processContents="skip"/>
                        </xs:choice>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="uns" type="unsEntity" minOccurs="0"/>
            <xs:element name="dynamic-configuration" type="dynamicConfigEntity" minOccurs="0"/>
            <xs:element name="usage-tracking" type="usageTrackingEntity" minOccurs="0"/>
            <xs:element name="internal" type="internalConfigEntity" minOccurs="0"/>
        </xs:all>
    </xs:complexType>

    <!-- Listeners -->
    <xs:complexType name="mqttListenersEntity">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="tcp-listener">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="port" type="port"/>
                            <xs:element name="bind-address" type="nonEmptyString" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Default: 0.0.0.0</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="name" type="nonEmptyString" minOccurs="0"/>
                            <xs:element name="external-hostname" type="nonEmptyString" minOccurs="0"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element name="tls-tcp-listener">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="port" type="port"/>
                            <xs:element name="bind-address" type="nonEmptyString" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Default: 0.0.0.0</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="name" type="nonEmptyString" minOccurs="0"/>
                            <xs:element name="external-hostname" type="nonEmptyString" minOccurs="0"/>
                            <xs:element name="tls" type="listenerTLSEntity"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element name="websocket-listener">
                    <xs:complexType mixed="true">
                        <xs:all>
                            <xs:element name="port" type="port"/>
                            <xs:element name="bind-address" type="nonEmptyString" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Default: 0.0.0.0</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="name" type="nonEmptyString" minOccurs="0"/>
                            <xs:element name="external-hostname" type="nonEmptyString" minOccurs="0"/>
                            <xs:element name="path" type="nonEmptyString" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Default: /mqtt</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="subprotocols" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="subprotocol" type="nonEmptyString" minOccurs="0"
                                                    maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="allow-extensions" type="xs:boolean" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Default: false</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element name="tls-websocket-listener">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="port" type="port"/>
                            <xs:element name="bind-address" type="nonEmptyString" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Default: 0.0.0.0</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="name" type="nonEmptyString" minOccurs="0"/>
                            <xs:element name="external-hostname" type="nonEmptyString" minOccurs="0"/>
                            <xs:element name="path" type="nonEmptyString" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Default: /mqtt</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="subprotocols" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="subprotocol" type="nonEmptyString" minOccurs="0"
                                                    maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="allow-extensions" type="xs:boolean" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Default: false</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="tls" type="listenerTLSEntity"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="mqttsnListenersEntity">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="udp-listener">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="port" type="port"/>
                            <xs:element name="bind-address" type="nonEmptyString" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Default: 0.0.0.0</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="name" type="nonEmptyString" minOccurs="0"/>
                            <xs:element name="external-hostname" type="nonEmptyString" minOccurs="0"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="listenerTLSEntity">
        <xs:all>
            <xs:element name="keystore" type="keystoreEntity"/>
            <xs:element name="truststore" type="truststoreEntity" minOccurs="0"/>
            <xs:element name="protocols" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="protocol" type="nonEmptyString" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="cipher-suites" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="cipher-suite" type="nonEmptyString" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="prefer-server-cipher-suites" type="xs:boolean" minOccurs="0"/>
            <xs:element name="handshake-timeout" type="xs:positiveInteger" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Timeout in milliseconds. Default: 10000</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="client-authentication-mode" type="clientAuthenticationMode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Default: NONE</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>

    <!-- MQTT -->
    <xs:complexType name="mqttConfigEntity">
        <xs:all>
            <xs:element name="queued-messages" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="max-queue-size" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: 1000</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:long">
                                    <xs:minInclusive value="1"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="strategy" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: discard</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="discard"/>
                                    <xs:enumeration value="discard-oldest"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="retained-messages" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="enabled" type="xs:boolean" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: true</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="wildcard-subscriptions" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="enabled" type="xs:boolean" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: true</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="quality-of-service" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="max-qos" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: 2</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:int">
                                    <xs:enumeration value="0"/>
                                    <xs:enumeration value="1"/>
                                    <xs:enumeration value="2"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="topic-alias" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="enabled" type="xs:boolean" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: true</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="max-per-client" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: 5</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:int">
                                    <xs:minInclusive value="1"/>
                                    <xs:maxInclusive value="65535"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="message-expiry" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="max-interval" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Interval in seconds. Default: 4294967296</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:long">
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="4294967296"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="session-expiry" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="max-interval" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Interval in seconds. Default: 4294967296</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:long">
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="4294967295"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="subscription-identifier" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="enabled" type="xs:boolean" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: true</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="shared-subscriptions" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="enabled" type="xs:boolean" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: true</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="keep-alive" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="max-keep-alive" minOccurs="0">
                            <xs:simpleType>
                                <xs:annotation>
                                    <xs:documentation>Keep-alive in seconds. Default: 65535</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:int">
                                    <xs:minInclusive value="1"/>
                                    <xs:maxInclusive value="65535"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="allow-unlimited" type="xs:boolean" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: true</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="packets" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="max-packet-size" minOccurs="0">
                            <xs:simpleType>
                                <xs:annotation>
                                    <xs:documentation>Size in bytes. Default: 268435460</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:int">
                                    <xs:minInclusive value="15"/>
                                    <xs:maxInclusive value="268435460"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="receive-maximum" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="server-receive-maximum" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: 10</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:int">
                                    <xs:minInclusive value="1"/>
                                    <xs:maxInclusive value="65535"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
        </xs:all>
    </xs:complexType>

    <!-- MQTT-SN -->
    <xs:complexType name="mqttsnConfigEntity">
        <xs:all>
            <xs:element name="gateway-id" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Default: 1</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="65535"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="predefined-topics" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="predefined-topic" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element type="xs:string" name="topicName"/>
                                    <xs:element type="xs:int" name="alias"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="allow-empty-client-identifier" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="enabled" type="xs:boolean" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: false</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="allow-anonymous-publish-minus-one" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="enabled" type="xs:boolean" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: false</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="allow-waking-ping-session-hijack" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="enabled" type="xs:boolean" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: false</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="topic-registrations-held-during-sleep" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="enabled" type="xs:boolean" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: false</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="max-client-identifier-length" minOccurs="0">
                <xs:simpleType>
                    <xs:annotation>
                        <xs:documentation>Size in bytes. Default: 23</xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="65535"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="discovery" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="enabled" type="xs:boolean" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: false</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="discovery-interval-seconds" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: 65535</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:int">
                                    <xs:minInclusive value="1"/>
                                    <xs:maxInclusive value="65535"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="broadcast-addresses" minOccurs="0">
                            <xs:complexType>
                                <xs:all>
                                    <xs:element name="address" minOccurs="0">
                                        <xs:complexType>
                                            <xs:all>
                                                <xs:element name="port" type="port"/>
                                                <xs:element name="bind-address" type="nonEmptyString" minOccurs="0">
                                                    <xs:annotation>
                                                        <xs:documentation>Default: 0.0.0.0</xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="name" type="nonEmptyString" minOccurs="0"/>
                                            </xs:all>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:all>
                            </xs:complexType>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
        </xs:all>
    </xs:complexType>

    <!-- Restrictions -->
    <xs:complexType name="restrictionsEntity">
        <xs:all>
            <xs:element name="max-connections" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        -1 means unlimited. License limitations still apply. Default: -1
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:long">
                        <xs:minInclusive value="-1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="max-client-id-length" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Default: 65535</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="65535"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="max-topic-length" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Default: 65535</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="65535"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="no-connect-idle-timeout" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Timeout in milliseconds. Default: 10000</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="incoming-bandwidth-throttling" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Throttling in bytes per seconds. Default: 0</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:long">
                        <xs:minInclusive value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:all>
    </xs:complexType>

    <!-- Security -->
    <xs:complexType name="securityConfigEntity">
        <xs:all>
            <xs:element name="payload-format-validation" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="enabled" type="xs:boolean" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: false</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="utf8-validation" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="enabled" type="xs:boolean" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: true</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="allow-empty-client-id" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="enabled" type="xs:boolean" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: true</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="allow-request-problem-information" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="enabled" type="xs:boolean" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Default: true</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:all>
                </xs:complexType>
            </xs:element>
        </xs:all>
    </xs:complexType>

    <!-- MQTT Bridges -->
    <xs:complexType name="bridgesEntity">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="mqtt-bridge">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="id">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:whiteSpace value="collapse"/>
                                        <xs:pattern value="[a-zA-Z0-9_\-]+"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="remote-broker">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="host" type="nonEmptyString"/>
                                        <xs:element name="port" type="port" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>Default: 1883</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="mqtt" minOccurs="0">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="client-id" type="xs:string" minOccurs="0"/>
                                                    <xs:element name="clean-start" type="xs:boolean" minOccurs="0"/>
                                                    <xs:element name="session-expiry" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Session Expiry Interval in seconds.
                                                                Default: 3600
                                                            </xs:documentation>
                                                        </xs:annotation>
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:long">
                                                                <xs:minInclusive value="0"/>
                                                                <xs:maxInclusive value="4294967295"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="keep-alive" minOccurs="0">
                                                        <xs:simpleType>
                                                            <xs:annotation>
                                                                <xs:documentation>Keep-alive in seconds. Default: 60
                                                                </xs:documentation>
                                                            </xs:annotation>
                                                            <xs:restriction base="xs:int">
                                                                <xs:minInclusive value="0"/>
                                                                <xs:maxInclusive value="65535"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>

                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="authentication" minOccurs="0">
                                            <xs:complexType>
                                                <xs:choice>
                                                    <xs:element name="mqtt-simple-authentication" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:all>
                                                                <xs:element name="username" type="xs:string"/>
                                                                <xs:element name="password" type="xs:string"/>
                                                            </xs:all>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="tls" minOccurs="0">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="enabled" type="xs:boolean"/>
                                                    <xs:element name="keystore" type="keystoreEntity" minOccurs="0"/>
                                                    <xs:element name="truststore" type="truststoreEntity"
                                                                minOccurs="0"/>
                                                    <xs:element name="protocols" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="protocol" type="nonEmptyString"
                                                                            minOccurs="0" maxOccurs="unbounded"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="cipher-suites" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="cipher-suite" type="nonEmptyString"
                                                                            minOccurs="0" maxOccurs="unbounded"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="verify-hostname" type="xs:boolean" minOccurs="0"/>
                                                    <xs:element name="handshake-timeout" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>TLS Handshake timeout in seconds. Default:
                                                                10.
                                                            </xs:documentation>
                                                        </xs:annotation>
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:int">
                                                                <xs:minInclusive value="1"/>
                                                                <xs:maxInclusive value="2147483647"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>

                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="remote-subscriptions" minOccurs="0">
                                <xs:complexType>
                                    <xs:choice>
                                        <xs:element name="remote-subscription" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="filters">
                                                        <xs:complexType>
                                                            <xs:choice>
                                                                <xs:element name="mqtt-topic-filter"
                                                                            type="nonEmptyString" minOccurs="0"
                                                                            maxOccurs="unbounded"/>
                                                            </xs:choice>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="max-qos" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Default: 2</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:int">
                                                                <xs:enumeration value="0"/>
                                                                <xs:enumeration value="1"/>
                                                                <xs:enumeration value="2"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="preserve-retain" type="xs:boolean" minOccurs="0"/>
                                                    <xs:element name="destination" type="nonEmptyString" minOccurs="0"/>
                                                    <xs:element name="custom-user-properties" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:choice>
                                                                <xs:element name="user-property" minOccurs="0"
                                                                            maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:all>
                                                                            <xs:element name="key"
                                                                                        type="nonEmptyString"/>
                                                                            <xs:element name="value"
                                                                                        type="nonEmptyString"/>
                                                                        </xs:all>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:choice>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="forwarded-topics" minOccurs="0">
                                <xs:complexType>
                                    <xs:choice>
                                        <xs:element name="forwarded-topic" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="filters">
                                                        <xs:complexType>
                                                            <xs:choice>
                                                                <xs:element name="mqtt-topic-filter"
                                                                            type="nonEmptyString" minOccurs="1"
                                                                            maxOccurs="unbounded"/>
                                                            </xs:choice>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="max-qos" minOccurs="0">
                                                        <xs:annotation>
                                                            <xs:documentation>Default: 2</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:int">
                                                                <xs:enumeration value="0"/>
                                                                <xs:enumeration value="1"/>
                                                                <xs:enumeration value="2"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="preserve-retain" type="xs:boolean" minOccurs="0"/>
                                                    <xs:element name="destination" type="nonEmptyString" minOccurs="0"/>
                                                    <xs:element name="custom-user-properties" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:choice>
                                                                <xs:element name="user-property" minOccurs="0"
                                                                            maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:all>
                                                                            <xs:element name="key"
                                                                                        type="nonEmptyString"/>
                                                                            <xs:element name="value"
                                                                                        type="nonEmptyString"/>
                                                                        </xs:all>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:choice>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="excludes" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:choice>
                                                                <xs:element name="mqtt-topic-filter"
                                                                            type="nonEmptyString" minOccurs="0"
                                                                            maxOccurs="unbounded"/>
                                                            </xs:choice>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="loop-prevention" minOccurs="0">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="hop-count-limit" type="xs:positiveInteger" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>Limit of maximum bridge hops until a message is not
                                                    forwarded anymore.
                                                    Default: 1
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="enabled" type="xs:boolean" minOccurs="0"/>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <!-- Admin API -->
    <xs:complexType name="adminApiEntity">
        <xs:all>
            <xs:element name="enabled" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Default: true</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="listeners" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="http-listener">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="port" type="port"/>
                                        <xs:element name="bind-address" type="nonEmptyString" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>Default: 0.0.0.0</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="https-listener">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="port" type="port"/>
                                        <xs:element name="bind-address" type="nonEmptyString" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>Default: 0.0.0.0</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="tls">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="keystore" type="keystoreEntity"/>
                                                    <xs:element name="protocols" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="protocol" type="nonEmptyString"
                                                                            minOccurs="0" maxOccurs="unbounded"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="cipher-suites" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="cipher-suite" type="nonEmptyString"
                                                                            minOccurs="0" maxOccurs="unbounded"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="generated-tokens" minOccurs="0">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="keySize" type="xs:string"/>
                        <xs:element name="issuer" type="xs:string"/>
                        <xs:element name="audience" type="xs:string"/>
                        <xs:element name="expiryTimeMinutes" type="xs:int"/>
                        <xs:element name="tokenEarlyEpochThresholdMinutes" type="xs:int"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>
            <xs:element name="users" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="user" minOccurs="0">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="username" type="xs:string"/>
                                        <xs:element name="password" type="xs:string"/>
                                        <xs:element name="roles">
                                            <xs:complexType>
                                                <xs:choice minOccurs="0" maxOccurs="unbounded">
                                                    <xs:element name="role" minOccurs="0" maxOccurs="unbounded"
                                                                type="xs:string"/>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="unsEntity">
        <xs:all>
            <xs:element name="isa95" type="isa95Entity" minOccurs="0"/>
            <xs:element name="isa88" type="isa88Entity" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="isa95Entity">
        <xs:all>
            <xs:element name="enabled" type="xs:boolean" minOccurs="0"/>
            <xs:element name="prefix-all-topics" type="xs:boolean" minOccurs="0"/>
            <xs:element name="enterprise" type="xs:string" minOccurs="0"/>
            <xs:element name="site" type="xs:string" minOccurs="0"/>
            <xs:element name="area" type="xs:string" minOccurs="0"/>
            <xs:element name="production-line" type="xs:string" minOccurs="0"/>
            <xs:element name="work-cell" type="xs:string" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="isa88Entity">
        <xs:all>
            <xs:element name="enabled" type="xs:boolean" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="usageTrackingEntity">
        <xs:all>
            <xs:element name="enabled" type="xs:boolean" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="dynamicConfigEntity">
        <xs:all>
            <xs:element name="allow-configuration-export" type="xs:boolean" minOccurs="0"/>
            <xs:element name="allow-mutable-configuration" type="xs:boolean" minOccurs="0"/>
        </xs:all>
    </xs:complexType>

    <!-- Internal -->
    <xs:complexType name="internalConfigEntity">
        <xs:sequence>
            <xs:element name="option" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="key" type="nonEmptyString"/>
                        <xs:element name="value" type="xs:string"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <!-- Common types -->

    <xs:complexType name="keystoreEntity">
        <xs:all>
            <xs:element name="path" type="nonEmptyString"/>
            <xs:element name="password" type="xs:string"/>
            <xs:element name="private-key-password" type="xs:string"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="truststoreEntity">
        <xs:all>
            <xs:element name="path" type="nonEmptyString"/>
            <xs:element name="password" type="xs:string"/>
        </xs:all>
    </xs:complexType>

    <xs:simpleType name="clientAuthenticationMode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPTIONAL"/>
            <xs:enumeration value="REQUIRED"/>
            <xs:enumeration value="NONE"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="port">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="65535"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="nonEmptyString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:whiteSpace value="collapse"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>

